*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.keystore
*.jks

# App build outputs (except APK)
app/build/intermediates/
app/build/kotlin/
app/build/tmp/
app/build/generated/
app/build/outputs/logs/
app/build/
app/build/
